.svn
*.d
*.o
*.obj
*.orig
/ephenation
/Debug
/Release
/Output
ephenation.ini
ephenation.exe
.gdb_history
EphenationClient.layout
/bin
/obj
/*.depend
/core
assimp
*~
/EphenationClient.cscope_file_list
/*.layout
.directory
nohup.out
